# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# vsc push detect
.git

# idea push detect
.idea

# vsc/webstorm 외 편집기들도 아래에 추가해주세요.
# ex) .atom / .sublime / .vim
.atom
.sublime
.vim

package-lock.json


.vscode
Project_Default.xml
# testing
/coverage

# production
/build

# misc
.DS_Store

.env.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.env
